<?xml version="1.0"?>
<config>
    <modules>
        <IcozWeb_PayU>
            <version>1.0.0</version>
        </IcozWeb_PayU>
    </modules>
    <global>
        <models>
            <icozweb_payu>
                <class>IcozWeb_PayU_Model</class>
            </icozweb_payu>
        </models>
        <blocks>
            <icozweb_payu>
                <class>IcozWeb_PayU_Block</class>
            </icozweb_payu>
        </blocks>
        <helpers>
            <icozweb_payu>
                <class>IcozWeb_PayU_Helper</class>
            </icozweb_payu>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
        <payment>
            <groups>
                <icozweb_payu>PayU</icozweb_payu>
            </groups>
        </payment>
        <events>
            <sales_order_payment_place_start>
                <observers>
                    <icozweb_payu_payment_start>
                        <type>singleton</type>
                        <class>icozweb_payu/observer</class>
                        <method>paymentStartBefore</method>
                    </icozweb_payu_payment_start>
                </observers>
            </sales_order_payment_place_start>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <icozweb_payu>
                    <file>icozweb/payu.xml</file>
                </icozweb_payu>
            </updates>
        </layout>
        <routers>
            <icozweb_payu>
                <use>standard</use>
                <args>
                    <module>IcozWeb_PayU</module>
                    <frontName>payu</frontName>
                </args>
            </icozweb_payu>
        </routers>
        <translate>
            <modules>
                <IcozWeb_PayU>
                    <files>
                        <default>IcozWeb_PayU.csv</default>
                    </files>
                </IcozWeb_PayU>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <icozweb_payu>
                    <file>icozweb/payu.xml</file>
                </icozweb_payu>
            </updates>
        </layout>
        <translate>
            <modules>
                <IcozWeb_PayU>
                    <files>
                        <default>IcozWeb_PayU.csv</default>
                    </files>
                </IcozWeb_PayU>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <icozweb_payu_adminhtml_block_before>
                        <type>singleton</type>
                        <class>icozweb_payu/observer</class>
                        <method>addPayUStatusCheckMassAction</method>
                    </icozweb_payu_adminhtml_block_before>
                </observers>
            </adminhtml_block_html_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <icozweb_payu_adminhtml_widget_before>
                        <type>singleton</type>
                        <class>icozweb_payu/observer</class>
                        <method>addPayUStatusCheckButton</method>
                    </icozweb_payu_adminhtml_widget_before>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <payu after="Mage_Adminhtml">IcozWeb_PayU_Adminhtml</payu>
                    </modules>
                </args>
            </adminhtml> 
        </routers>
    </admin>
    <crontab>
        <jobs>
            <icozweb_payu>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>icozweb_payu/cron::dailyCheckAndUpdatePayULibraryCache</model>
                </run>
            </icozweb_payu>
        </jobs>
    </crontab>
    <default>
        <payment>
            <icozweb_payu>
                <sandbox>0</sandbox>
                <load_jquery>0</load_jquery>
                <merchant_id></merchant_id>
                <account_id_ar></account_id_ar>
                <account_id_br></account_id_br>
                <account_id_co></account_id_co>
                <account_id_mx></account_id_mx>
                <account_id_pa></account_id_pa>
                <account_id_pe></account_id_pe>
                <api_login></api_login>
                <api_key></api_key>
                <public_key></public_key>
                <debug>0</debug>
                <send_invoice_email>1</send_invoice_email>
                <customer_cpf_attribute>taxvat</customer_cpf_attribute>
                <customer_cnpj_attribute>tin</customer_cnpj_attribute>
                <customer_company_name_attribute>company_name</customer_company_name_attribute>
                <address_street_attribute>street_1</address_street_attribute>
                <address_number_attribute>street_2</address_number_attribute>
                <address_complement_attribute>street_3</address_complement_attribute>
                <partner_id>581933</partner_id>
                <js_url>https://gateway.payulatam.com/ppp-web-gateway/javascript/PayU.js</js_url>
            </icozweb_payu>
            <icozweb_payu_cc>
                <active>0</active>
                <title>PayU - Cartão de Crédito</title>
                <order_status>pending_payment</order_status>
                <owner_phone_attribute>1</owner_phone_attribute>
                <payment_action>order</payment_action>
                <model>icozweb_payu/payment_cc</model>
                <allowspecific>0</allowspecific>
                <group_restriction>0</group_restriction>
                <group>icozweb_payu</group>
            </icozweb_payu_cc>
            <icozweb_payu_boleto>
                <active>0</active>
                <title>PayU - Brasil - Boleto</title>
                <expiration>3</expiration>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <model>icozweb_payu/payment_boleto</model>
                <allowspecific>0</allowspecific>
                <group>icozweb_payu</group>
            </icozweb_payu_boleto>
            <icozweb_payu_cash_argentina>
                <active>0</active>
                <title>PayU - Argentina - Dinheiro</title>
                <methods>COBRO_EXPRESS,PAGOFACIL,RAPIPAGO,BAPRO,RIPSA</methods>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <model>icozweb_payu/payment_cash_argentina</model>
                <allowspecific>0</allowspecific>
                <group>icozweb_payu</group>
            </icozweb_payu_cash_argentina>
            <icozweb_payu_cash_colombia>
                <active>0</active>
                <title>PayU - Colômbia - Dinheiro</title>
                <methods>BALOTO,EFECTY</methods>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <model>icozweb_payu/payment_cash_colombia</model>
                <allowspecific>0</allowspecific>
                <group>icozweb_payu</group>
            </icozweb_payu_cash_colombia>
            <icozweb_payu_cash_mexico>
                <active>0</active>
                <title>PayU - México - Dinheiro</title>
                <methods>SANTANDER,SCOTIABANK,BANCOMER,OXXO,SEVEN_ELEVEN</methods>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <model>icozweb_payu/payment_cash_mexico</model>
                <allowspecific>0</allowspecific>
                <group>icozweb_payu</group>
            </icozweb_payu_cash_mexico>
            <icozweb_payu_cash_peru>
                <active>0</active>
                <title>PayU - Perú - Dinheiro</title>
                <methods>BCP</methods>
                <order_status>pending_payment</order_status>
                <payment_action>order</payment_action>
                <model>icozweb_payu/payment_cash_peru</model>
                <allowspecific>0</allowspecific>
                <group>icozweb_payu</group>
            </icozweb_payu_cash_peru>
        </payment>
    </default>
</config>